<div class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Nav Brand -->
    <div class="navbar-header">
      <a class="navbar-brand">Events 4U</a>
    </div>

    <div class="collapse navbar-collapse">

      <!-- Nav Links -->
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/events']"
             routerLinkActive="link-active"
             [routerLinkActiveOptions]="{exact: true}">All Events</a>
        </li>
        <li>
          <a [routerLink]="['/events/new']"
             routerLinkActive="link-active">Create Event</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Events
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let event of events">
              <a [routerLink]="['/events', event.id]">{{event.name | lowercase}}</a>
            </li>
          </ul>
        </li>
      </ul>

      <!-- Welcome -->
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a *ngIf="!isAuthenticated"
               [routerLink]="['/users/login']"
               routerLinkActive="link-active">Login</a>

            <a *ngIf="isAuthenticated"
               [routerLink]="['/users/profile']"
               routerLinkActive="link-active">Welcome {{currentUserName}}</a>
          </li>
        </ul>
      </div>

      <!-- Search -->
      <form id="searchForm" class="navbar-form navbar-right"
            (ngSubmit)="searchSessions(searchTerm)">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Sessions"
                 [(ngModel)]="searchTerm" name="searchTerm">
        </div>
        <button class="btn btn-default" e4uModalTrigger="simple-modal">
          Search
        </button>
      </form>
    </div>

  </div>
</div>

<e4u-simple-modal elementId="simple-modal" autoclose="true">
  <div simple-modal-title>
    <h4>Matching Sessions</h4>
  </div>
  <div simple-modal-body>
    <div class="list-group">
      <a class="list-group-item"
         *ngFor="let session of foundSessions" [routerLink]="['/events', session.eventId]">
        {{session.name}}
      </a>
    </div>
  </div>
</e4u-simple-modal>
