.btn-mt-10 {
  margin-top: 10px;
}

.pad-left {
   margin-left: 10px;
}

.gray-color {
  color: #bbb;
}

.thumbnail {
  min-height: 210px;
}

.green-color {
  color: #003300;
}

.bold-font {
  font-weight: bold;
}
