
.event-image-container {
  text-align: center;
}

.event-image {
  height: 200px;
}

.pad-left {
  margin-left: 20px;
}

a {
  cursor: pointer;
}

.sessions-header-name {
  margin-top: 5px;
}

.add-session-link {
  font-size: 2rem;
}

@media (max-width: 468px) {
  .event-image {
    height: 150px;
  }
}

@media (min-width: 992px) {
  .add-session-link {
    text-align: right;
  }
}
